@import "variables";

.coach {
  width: 100%;
}

.profile {
  background-color: #3A3F51;
  height: 300px;

    .profile-content {
      margin: 100px 5%;
      width: 50%;

      .profile-avatar img {
        border-radius: 30px;
      }

      h2.profile-nickname {
        color: #fff;
        margin-top: 10px;
        font-size: 24px;
      }

      p.profile-member {
        color: #fff;
        margin-top: 10px;
        font-size: 13px;
        opacity: 0.7;
      }
      .profile-lesson {
        height: 60px;
        margin-top: 5px;

        .profile-lesson-info {
          height: 50px;
          min-width: 32%;
          display: inline-block;
          float: left;
          padding: 2px;
          h5 {
            font-size: 11px;
            text-align: center;
            color: #95D9EE;

            span {
              font-size: 25px;
              color: #23B7E5;

            }
          }
        }
      }
    }

}

.lesson-btn {
  @include btn(60%, 35px);
  margin: 15px auto;
  padding: 5px;
    a {
      color: #fff;
      font-size: 16px;
    }
}

.btns {
  float: right;
  margin: 5px 5%;
  .edit-btn {
    @include btn(53px, 23px);
    margin: 1px 5%;
    border: #D13B40 thin solid;
    background-color: #fff;
    padding: 1px;

    a {
      color: #D13B40;
      font-size: 11px;
      font-weight: 100;
      }
  }
}

h2.lesson-students {
    margin: 15px;
    font-weight: bold;
    line-height: 140%;
    font-size: 17px;
    color: #666;
}

p.margin-both-side {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 20px;
}

#student-name {
  font-size: 20px;
  margin-top: 20px;
}
