@import "valiables";

.coach {
  width: 100%;
  .row-content {
    background-color: #fff;
    height: 150px;
    width: 100%;
    margin: 0px auto;
    border-bottom: 1px solid #e7e7e7;

    img {
      margin: 20px 20px;
      float: left;
    }
    p {
      font-size: 20px;
    }
  }
}