@import "variables";

.coach {
  width: 100%;
}

.profile {
  background-color: #8D8F90;
  height: 300px;

    .edit-btn {
      @include btn(64px, 25px);
      background-color: #8D8F90;
      border: solid 1px #fff;
      line-height: 25px;
      color: #fff;
      float: right;
      font-size: 12px;
    }

    .profile-content {
      margin: 100px 5%;
      width: 50%;

      h2.profile-nickname {
        color: #fff;
        margin-top: 10px;
        font-size: 24px;
      }

      p.profile-member {
        color: #fff;
        margin-top: 10px;
        font-size: 15px;
        opacity: 0.7;
      }
      .profile-lesson {
        height: 60px;
        margin-top: 5px;

        .profile-lesson-info {
          background-color: #8D8F90;
          border: solid 1px #fff;
          height: 50px;
          min-width: 32%;
          display: inline-block;
          color: #fff;
          float: left;
          padding: 5px;
          h5 {
            font-size: 11px;
            text-align: center;

            span {
              font-size: 25px;
            }
          }
        }
      }
    }

}

.lesson-btn {
  @include btn(60%, 35px);
  margin: 15px auto;
  padding: 5px;
    a {
      color: #fff;
      font-size: 16px;
    }
}
