@import "variables";

.clearfix {
  clear: both;
  content: "";
  display: block;
}

body {
  background-color: #fff;
}

.show-wrapper {
  margin: 0 auto;

  .item-container {
    margin-bottom: 10px;
    padding: 10px 5%;
    margin-top: 20px;
  }

  img.thumbnail-item {
    @include thumbnail(100%, 200px);
  }

  img.sub-thumbnail-item {
    @include thumbnail(90%, 200px);
    display: block;
  }

  img.avatar-item {
    float: left;
    margin: 0 10px 10px 5%;
  }

  .main-title {
    margin: 24px 0 8px;
    font-weight: bold;
    line-height: 140%;
    font-size: 19px;
    color: #666;
  }

  .apply-title {
    margin: 40px 0 8px;
    line-height: 140%;
    font-size: 17px;
    color: #666;
  }




  .genre-btn {
    @include btn(50px, 20px);
    padding: 2px 30px;
    background-color: #fff;
    border: #D13B40 thin solid;
    border-radius: 0;
    margin: 10px 0;


    a {
      font-size: 11px;
      font-weight: 100;
      }
  }

  .lesson-content {
    margin-bottom: 80px;
    padding: 0 5%;
  }

  .coach-content {
    margin-bottom: 60px;
    margin-top: 25px;
    p.coach-name {
      padding-top: 32px;
      font-size: 15px;
      margin-bottom: 20px;
      display: inline-block;
    }

    .coach-description {
      background-color: #f0f0f0;
      margin: 5px auto;
      padding: 25px 5%;
      position: relative;
      word-break: break-all;

      &:before {
        content: "";
        position: absolute;
        top: -21px;
        left: 34px;
        border: 12px solid transparent;
        border-bottom: 10px solid #f0f0f0;
      }
    }
  }

  ul.sc-btn {
    position: relative;
  }

  li.sc-li {
    display: inline-block;
  }

  li.fb-root {
    position: absolute;
    top: 5px;
    left: 110px;
    display: inline-block;
  }

  li.sc-tw {
    margin-top: 2px;
    position: absolute;
    top: 3px;
    left: 39px;
    display: inline-block;
  }


  .form-btn {
    @include btn;
    padding-top: 10px;

      a {
        color: #fff;
        font-size: 15px;
      }
  }

  .apply-info {
    float: right;
    font-size: 12px;
    color: #666;
    padding-right: 8%;
  }

  .description-content {
    width: 90%;
    padding: 10px 0;
    line-height: 160%;
    font-size: 16px;
  }

  .sub-title {
    height: 40px;
    line-height: 40px;
    background-color: #f0f0f0;
    padding: 0 5%;
    color: #00A4BB;
   }

   .table-content {
      margin: 15px auto;
      border-bottom-style: solid;

      .table-title {
        color: #666;
        font-size: 90%;
      }

      td {
        padding: 5px;
        padding-left: 10px;
        padding-right: 50px;
      }
   }

   .apply-btn {
      @include btn(90%);
      padding-top: 10px;
      color: #fff;
      font-size: 15px;
   }
}

.chat-btn {
  @include btn(60%, 40px);
  padding: 2px;
  text-align: center;
  margin: 0 auto 30px;
}

p.chat-btn {
  color: #fff;
  line-height: 40px;
  font-size: 17px;
}

.apply-btn-fixed {
  @include btn(100%);
  padding-top: 10px;
  color: #fff;
  font-size: 15px;
  position: fixed;
  bottom: 0px;
  margin: 0;
  height: 50px;
  line-height: 35px;
}



