.chat_message_box
  .chat_profile.clearfix
    = image_tag chat_message.talker.avatar.thumb || "noimage.jpg"
    %span.chat_name= chat_message.talker.nickname
    %span.chat_time= chat_time(chat_message.created_at)
  .chat_text
    = chat_message.message
    =# link_to "削除", coaches_chat_message_path(message), method: :delete

