%footer
  .footer_list_box
    %h3 レッスンジャンル一覧
    %ul.clearfix
      - @genres.each do |genre|
        %li #{ genre.name }
  .footer_list_box
    %h3 サイト情報
    %ul.clearfix
      = link_to '#' do
        %li FAQ
      = link_to '#' do
        %li お問い合わせ
  = image_tag("smart_coach-logo_gray.png", alt: "smart_coach", class: "footer_logo")
  %p.copy_rights © 2015 smart_coach All Rights Reserved.
