%footer
  .footer_list_box
    %h3 レッスンジャンル一覧
    %ul.clearfix
      - @genres.each do |genre|
        = link_to lessons_genre_path(genre) do
          %li= genre.name
  = image_tag("smart_coach-logo_gray.png", alt: "smart_coach", class: "footer_logo")
  %p.copy_rights © 2015 smart_coach All Rights Reserved.
